* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.col-left {
height: 100vh;
}

.col-right {
    height: 60vh;
}

.btn-top {
    margin-right: 20px !important;
    border: none;
}

.btn-top:focus {
    outline: none;
    box-shadow: none;
}


body {
    height: 120vh;
}

ion-icon {
    color: red !important;
    font-size: 32px;
  }



  .img-display {
    overflow: hidden;
  }

  .img-showcase{
    display: flex;
    width: 100%;
    height: 60vh;
    transition: all 0.7s ease;  
}

.img-showcase img{
    min-width: 100%;
    background-size: cover;
    background-position: top;
    object-fit: cover;
}


.img-select{
    display: flex;
    width: 100%;
}
.img-item{
    width: 40%;
    margin: 0.3rem;
}


.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}